*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Urbanist", sans-serif;
    position: relative;
}
img {
    width: 100%;
    height: 100%;
}
.container {
    max-width: 1310px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}
.site-header-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.site-header-inner-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header-menu-wrap {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.header-menu-item {
    padding: 0 10px;
}
.site-header {
    border-bottom: 1px solid #DDDDDD;
    padding: 20px 0;
}
.header-menu-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #000000;
}
a.header-btn-link {
    background: #EC221F;
    padding: 6px 12px 6px 12px;
    border-radius: 99px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    display: inline-block;
    margin-left: 20px;
}
.site-hum-menu {
    display: none;
}
.site-drawer-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.site-drawer-menu-link {text-decoration: none;font-size: 16px;font-weight: 500;line-height: 20px;text-align: left;color: #222222;display: block;}
.site-drawer-item {
    padding: 18px 0px 18px 0px;
    border-bottom: 1px solid #DDDDDD;
}
.site-drawer-menu-wrap {
    list-style: none;
}
.site-header-drawer-mains {
    padding: 0 15px;
}
.header-btns.hader-drawer-btn {
    margin: 50px 0;
    text-align: center;
}
.header-btns.hader-drawer-btn a.header-btn-link {
    margin: 0;
}
.site-drawer-logo {
    max-width: 200px;
}
.site-header-logo a {
    display: flex;
}
.site-header-drawer {
    position: fixed;
    background: #ffffff;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    max-width: 320px;
    opacity: 0;
    z-index: 11;
    display: none;
}
.site-header-close img {
    cursor: pointer;
}
.site-header-drawer.open {
    opacity: 1;
    display: block;
}
.overlay-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 40%);
    display: none;
}
.overlay-box.overlay {
    display: block;
}
a.book-cricket-call-link {
    border: 1.5px solid #FFFFFF;
    padding: 5px 6px 5px 6px;
    display: inline-flex;
    border-radius: 99px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: #EC221FB2;
    width: auto;
    margin: 7px 0 0 0;
}
.book-cricket-call-link img {
    max-width: 13px;
    margin-right: 10px;
}
.book-cricket-call-link span {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #ffffff;
}
.site-header-left {
    text-align: center;
}
/* Header end */
.img-text-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    color: #000000;
    margin: 0 0 40px;
}
section.image-with-text {
    padding: 50px 0;
}
.img-text-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.img-text-box-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #000000;
    margin: 0 0 12px;
}
.img-text-info {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: rgb(0 0 0 / 50%);
}
.img-text-left {
    width: 50%;
    padding: 0 15px;
}
.img-text-right {
    width: 50%;
    padding: 0 15px;
}
.image-with-text .container {
    max-width: 1070px;
}
.img-text-right-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.img-text-btn-link {
    background: #EC221F;
    padding: 12px 28px 12px 28px;
    border-radius: 99px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}
.img-text-button {
    text-align: center;
    margin-top: 30px;
}
.book-play-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -15px;
}
.book-play-left {
    width: 50%;
    padding: 0 15px;
}
.book-play-right {
    width: 50%;
    padding: 0 15px;
}
section.book-play-sec .container {
    max-width: 1030px;
}
.book-play-main-title {
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: #000000;
    margin: 0 0 25px;
}
.play-box-title {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    margin: 0 0 7px;
}
.play-box-content {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: rgb(0 0 0 / 50%);
}
.book-play-box-row {
    display: flex;
    margin-bottom: 15px;
}
.book-play-box-icon {
    max-width: 48px;
    width: 100%;
}
.play-box-infos {
    flex: 1;
    padding-left: 16px;
}
.book-play-box-icon img {
    width: 48px;
    height: 48px;
}
section.book-play-sec {
    padding: 50px 0;
}
.gallery-pic-title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    margin: 0 0 30px;
    color: #000000;
}
.gallery-photo-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.gallery-photo-col {
    padding: 0 10px;
    margin-bottom: 20px;
    width: 25%;
}
section.gallery-photo {
    padding: 50px 0;
}
/* footer end */
footer.site-footer {
    background: #252525;
}
.footer-bottom {
    border-top: 2px solid #FFFFFF;
    background-color: #000000;
}
.site-footer-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.site-footer-col-left {
    width: 33.33%;
    padding: 0 15px;
}
.site-footer-col-center {
    width: 33.33%;
    padding: 0 15px;
}
.site-footer-col-right {
    width: 33.33%;
    padding: 0 15px;
}
.site-footer-main {
    padding: 50px 0;
}
.site-footer-icon-with-row img {
    width: 20px;
    height: 20px;
}
.site-footer-icon-with-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.site-footer-icons {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #ffffff;
    padding-left: 10px;
    text-decoration: none;
}
.site-footer-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 20px;
}
.site-footer-item-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #ffffff;
}
.site-footer-item {
    list-style: none;
    margin-bottom: 15px;
}
.site-footer-logo img {
    max-width: 300px;
    margin-bottom: 20px;
}
.site-box-info {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    text-align: left;
    color: #ffffff;
}
.footer-info {
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
.img-text-img {
    text-align: center;
}
.img-text-img img {
    max-width: 70%;
    margin: 0 auto;
}
@media(max-width: 767px){
    .img-text-title {
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }
    .img-text-left {
        width: 100%;
    }
    .book-cricket-call-link img {
        display: none;
    }
    .img-text-right {
        width: 100%;
    }
    .img-text-box-title {
        font-size: 16px;
        line-height: 20px;
    }
    .img-text-box-title {
        font-size: 16px;
        line-height: 20px;
    }
    .img-text-img {
        margin-bottom: 20px;
    }
    .img-text-info {
        font-size: 18px;
        line-height: 24px;
    }
    .img-text-btn-link {
        font-size: 18px;
        line-height: 22px;
    }
    .img-text-button {
        margin: 40px 0 0;
    }
    .site-header-logo img {
        max-width: 200px;
        margin: 0 auto;
    }
    .site-header-logo {
        display: flex;
    }
    section.image-with-text {
        padding: 35px 0;
    }
    section.book-play-sec {
        padding: 30px 0;
    }
    .book-play-left {
        width: 100%;
    }
    .book-play-right {
        width: 100%;
    }
    .book-play-main-title {
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }
    .play-box-title {
        font-size: 16px;
        line-height: 20px;
    }
    .book-play-box-icon img {
        width: 40px;
        height: 40px;
    }
    .book-play-box-icon {
        max-width: 40px;
    }
    .play-box-content {
        font-size: 14px;
        line-height: 17px;
    }
    section.gallery-photo {
        padding: 30px 0;
    }
    .gallery-pic-title {
        font-size: 18px;
        line-height: 22px;
    }
    .gallery-photo-row {
        margin: 0 -5px;
    }
    .gallery-photo-col {
        width: 33.33%;
        padding: 0 5px;
    }
    .gallery-photo-col:nth-child(4) {
        width: 50%;
    }
    .gallery-photo-col:nth-child(5) {
        width: 50%;
    }
    
}
/* header */
@media(max-width: 991px){
    .site-header-right {
        display: none;
    }
    .site-header-row {
        justify-content: center;
        position: relative;
    }
    .site-hum-menu {
        display: block;
        position: absolute;
        left: 0;
        z-index: 1;
        cursor: pointer;
    }
    .site-footer-col-left {
        width: 100%;
        margin-bottom: 20px;
    }
    .site-footer-col-center {
        width: 100%;
    }
    .site-footer-col-right {
        width: 100%;
    }
    .site-box-info {
        font-size: 16px;
        line-height: 20px;
    }
    .site-footer-item-link {
        font-size: 16px;
        line-height: 20px;
    }
    .footer-info {
        font-size: 14px;
        line-height: 16px;
    }
    .site-footer-icon-box {
        display: flex;
    }
    .site-footer-icon-with-row {
        width: 50%;
    }
}
@media(max-width: 360px){
    .site-footer-icon-with-row {
        width: 100%;
    }
    .site-footer-icon-box {
        flex-wrap: wrap;
    }
}